{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}Login|Private Diary{% endblock title %}
{% block active_login %}active{% endblock active_login %}

{% block contents %}
<div class="container my-div-style">
  <div class="row">
    <h1>ログイン</h1>
    <form method="post" action="{% url 'account_login' %}">
      {% csrf_token %}
      <div class="mb-4 col-4">
        {% bootstrap_form form %}
      </div>
      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="btn btn-primary mb-4" type="submit">ログイン</button>
    </form>
    {% if redirect_field_value %}
      <p>
        <a href="{% url "account_reset_password" %}" class="button secoundaryAction">パスワード忘れましたか？</a>
      </p>
    {% endif %}
  </div>
</div>
{% endblock contents %}
