{% extends "base.html" %}

{% block title %}お問合せ | Private Diary{% endblock title %}
{% block active_inquiry %}active{% endblock active_inquiry %}

{% block contents %}
<div class="container my-div-style">
  <form action="" method="post">
    {% csrf_token %}
    {{form.non_field_errors}}
    {% for field in form %}
      <div class="mb-4 col-8">
        <label for="{{field.id_for_label}}" class="form-label">
          <strong>{{field.label_tag}}</strong>
        </label>
        {{field}}
        {{field.errors}}
      </div>
    {% endfor %}
    <button class="btn btn-primary" type="submit">送信</button>
  </form>
</div>
{% endblock contents %}
